@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        background-color: #000131;
    }
    .apexcharts-text {
        color: #000131;
    }
}

@layer utilities {
    .fullbleed {
        margin-left: calc(50% - 50vw);
        width: 100vw;
    }
}

